@font-face {
	font-family: Nunito Sans;
	font-display: swap;
	src: url("../fonts/NunitoSans_Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Nunito Sans;
	font-display: swap;
	src: url("../fonts/NunitoSans_Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: Nunito Sans;
	font-display: swap;
	src: url("../fonts/NunitoSans_Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Nunito Sans;
	font-display: swap;
	src: url("../fonts/NunitoSans_ExtraBold.woff2") format("woff2");
	font-weight: 800;
	font-style: normal;
}
