* {
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent; 
    padding: toRem(1);
  }
  &::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 2px;
    background-clip: padding-box; 
  }
}

.btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: toRem(16);
  font-weight: 700;
  border-radius: toRem(150);
   min-height: toRem(60);
  width: 100%;
  overflow: hidden;
  transition: color .3s ease, border-color .3s ease;
  border: toRem(1) solid transparent;
  &::before {
    content:'';
    position: absolute;
    z-index: 1;
    inset: 0;
    opacity: 0;
    transition: opacity .3s ease;
  }
  @media (any-hover: hover){
    &:hover{
       &::before {
         opacity: 1;
       }
    }
  }
  &--sm {
    font-size: toRem(15);
    min-height: toRem(50);
    padding-inline: toRem(20);
  }
  &--red {
    background: linear-gradient(315deg, #f4004c 0%, #f09 100%);
    color: #fff;
    &::before {
      background-color: #000;
    }
    @media (any-hover: hover){
      &:hover{
        border-color: #fff;
      }
    }
  }
  &--gray {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.5) 100%);
    color: #000;
    &::before {
      background-color: #000;
    }
    @media (any-hover: hover){
      &:hover{
        color: #fff;
      }
    }
  }
  &--gray-2 {
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    &::before {
      background-color: #fff;
    }
    @media (any-hover: hover){
      &:hover{
        color: #000;
      }
    }
  }
	// .btn__txt
	&__txt {
    display: inline-block;
    position: relative;
    z-index: 3;
	}
}


%transitionColor {
  transition: color .3s ease;
}

// Ограничение по выводу строк через максимальное кол-во ===================
%boxElement {
  overflow: hidden;
  -webkit-line-clamp: 3;
  display: box;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
}