 // gray
//       filter: invert(100%) sepia(3%) saturate(2314%) hue-rotate(213deg) brightness(113%) contrast(82%);


// red
//       filter: invert(13%) sepia(91%) saturate(6197%) hue-rotate(337deg) brightness(103%) contrast(107%);



* {
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent; 
    padding: toRem(1);
  }
  &::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 2px;
    background-clip: padding-box; 
  }
}

.main {
  // @media (min-width:$mobileSmall){
  //    padding-top: toRem(115); 
  // }
  // @media (max-width:$mobileSmall){
  //    padding-top: toRem(90); 
  // }
}


%fontWeight800 {
  font-weight: 800;
}
%fontWeight700 {
  font-weight: 700;
}
%fontWeight500 {
  font-weight: 500;
}
%fontWeight400 {
  font-weight: 400;
}

.title-big {
  @extend %fontWeight800;
  line-height: 1.07;
  text-align: center;
  @include adaptiveValue("font-size", 56, 36,0,1440.98,480.98);
}
.title-big-av {
  text-align: center;
  @extend %fontWeight800;
  @include adaptiveValue("font-size", 46, 28,0,1440.98,480.98);
}
.title-av {
  text-align: center;
  @extend %fontWeight800;
  line-height: 1.2;
  @include adaptiveValue("font-size", 38, 28,0,1440.98,480.98);
}
.title-sm {
  @extend %fontWeight800;
  @include adaptiveValue("font-size", 26, 22,0,1440.98,480.98);
}

.tx-big {
  @extend %fontWeight500;
  line-height: 1.2;
  @include adaptiveValue("font-size", 22, 18,0,1440.98,480.98);

}

%transitionColor {
  transition: color .3s ease;
}
%transitionOpacity {
  transition: opacity .3s ease;
}

// Padding ===========
%avPT-130-100 {
  @include adaptiveValue("padding-top", 130, 100,0,1440.98,480.98);
}
.pt-130-100 {
  @include adaptiveValue("padding-top", 130, 100,0,1440.98,480.98);
}


%avPB-130-100 {
  @include adaptiveValue("padding-bottom", 130, 100,0,1440.98,480.98);
}
.pb-130-100 {
  @include adaptiveValue("padding-bottom", 130, 100,0,1440.98,480.98);
}

%avPT-80-60 {
  @include adaptiveValue("padding-top", 80, 60,0,1440.98,480.98);
}
.pt-80-60 {
  @include adaptiveValue("padding-top", 80, 60,0,1440.98,480.98);
}

%avPB-80-60 {
  @include adaptiveValue("padding-bottom", 80, 60,0,1440.98,480.98);
}
.pb-80-60 {
  @include adaptiveValue("padding-bottom", 80, 60,0,1440.98,480.98);
}


// Margin ===================
%avMB-130-100 {
  @include adaptiveValue("margin-bottom", 130, 100,0,1440.98,480.98);
}
.mb-130-100 {
  @include adaptiveValue("margin-bottom", 130, 100,0,1440.98,480.98);
}

%avMB-40-30 {
  @include adaptiveValue("margin-bottom", 40, 30,0,1440.98,480.98);
}


%avMB-20-15 {
  @include adaptiveValue("margin-bottom", 20, 15,0,1440.98,480.98);
}

%mb30 {
  &:not(:last-child) {
    margin-bottom: toRem(30);
  }
}


// Gap ===============
%avGap-20-15 {
  @include adaptiveValue("gap", 20, 15,0,1440.98,480.98);
}
%avGap-30-15 {
  @include adaptiveValue("gap", 30, 15,0,1440.98,480.98);
}

// Border-radius ================
%avBorRad-40-30 {
  @include adaptiveValue("border-radius", 40, 30,0,1440.98,480.98);
}


%linear-gradient-blue {
   background: linear-gradient(135deg, #62fff2 0%, #1eddff 100%);
}

%bgGradient {
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(130deg, rgba(37, 244, 238, 1) 0%, rgba(138, 25, 204, 1) 50%, rgba(255, 0, 79, 1) 100%);
    z-index: 0;
  }
}

.clr-blue {
   color: $blueDark;
}

%gridCenter {
  display: grid;
  place-items: center;
}
%flexCenter {
  display: flex;
  align-items: center;
}



// Ограничение по выводу строк через максимальное кол-во ===================
%boxElement {
  overflow: hidden;
  -webkit-line-clamp: 3;
  display: box;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
}


// Сніппет (HTML): ibga (a з зображенням та класами)
%ibg {
	width: 100%;
	height: 100%;
	object-fit: cover;
	// &--top {
	// 	object-position: top;
	// }
	// &--bottom {
	// 	object-position: bottom;
	// }
	// &--left {
	// 	object-position: left;
	// }
	// &--right {
	// 	object-position: right;
	// }
	// &--contain {
	// 	object-fit: contain;
	// }
}

%img {
  width: 100%;
  height: auto;
}
%imgBg {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  pointer-events: none;
}


%afterArrow {
  content:'';
  background-image: url("../img/icons/arrow.svg");
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;
  transform-origin: 50% 50%;
  transform: rotate(-90deg);
  width: toRem(14);
  aspect-ratio: 10/6;
}

// // Лічильник для списку
// %listCounter {
// 	list-style-type: none;
// 	counter-reset: item;
// 	li {
// 		position: relative;
// 		&:before {
// 			counter-increment: item;
// 			content: counter(item);
// 			position: absolute;
// 			left: 0;
// 			top: 0;
// 		}
// 	}
// }
// // Адаптивне відео
// %responsiveVideo {
// 	position: relative;
// 	overflow: hidden;
// 	height: 0;
// 	padding-bottom: 56.25%;
// 	video,
// 	iframe,
// 	object,
// 	embed {
// 		position: absolute;
// 		top: 0;
// 		left: 0;
// 		width: 100%;
// 		height: 100%;
// 	}
// }
// // Відео як фон
// %videoBackground {
// 	video,
// 	iframe,
// 	object,
// 	embed {
// 		position: fixed;
// 		top: 50%;
// 		left: 50%;
// 		min-width: 100%;
// 		min-height: 100%;
// 		width: auto;
// 		height: auto;
// 		z-index: -100;
// 		transform: translateX(-50%) translateY(-50%);
// 		background-size: cover;
// 	}
// }
// // Сірий фільтр
// %grayfilter {
// 	transition: all 0.3s ease 0s;
// 	filter: grayscale(1);
// 	@media (any-hover: hover) {
// 		&:hover {
// 			filter: grayscale(0);
// 		}
// 	}
// }
// // Скасувати виділення
// %noselect {
// 	user-select: none;
// }
// // Дзеркальне відображення
// %mirror {
// 	transform: scale(-1, 1);
// }
// // Плавний скролл
// %smoothscroll {
// 	-webkit-overflow-scrolling: touch;
// }
// // Сховати скролл
// %hidescroll {
// 	&::-webkit-scrollbar {
// 		display: none;
// 	}
// }

%minWidthBtn-216 {
  @media (min-width:$mobileSmall){
     min-width: toRem(216);
     max-width: max-content; 
  }
}

.btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: toRem(16);
  font-weight: 700;
  border-radius: toRem(150);
   min-height: toRem(60);
  width: 100%;
  overflow: hidden;
  transition: color .3s ease, border-color .3s ease;
  border: toRem(1) solid transparent;
  &::before {
    content:'';
    position: absolute;
    z-index: 1;
    inset: 0;
    opacity: 0;
    @extend %transitionOpacity;
  }
  @media (any-hover: hover){
    &:hover{
       &::before {
         opacity: 1;
       }
    }
  }
  &--sm {
    font-size: toRem(15);
    min-height: toRem(50);
    padding-inline: toRem(20);
  }
  &--red {
    background: linear-gradient(315deg, #f4004c 0%, #f09 100%);
    color: #fff;
    &::before {
      background-color: #000;
    }
    @media (any-hover: hover){
      &:hover{
        border-color: #000;
      }
    }
  }
  &--red-bl {
    @media (any-hover: hover){
      &:hover{
        border-color: $red;
      }
    }
  }
  &--gray {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.5) 100%);
    color: #000;
    &::before {
      background-color: #000;
    }
    @media (any-hover: hover){
      &:hover{
        color: #fff;
      }
    }
  }
  &--gray-2 {
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    &::before {
      background-color: #fff;
    }
    @media (any-hover: hover){
      &:hover{
        color: #000;
      }
    }
  }
	// .btn__txt
	&__txt {
    display: inline-block;
    position: relative;
    z-index: 3;
	}
}



// Ticker =================================
[data-ticker] {
  overflow: hidden;
  width: max-content;
  display: flex;
  align-items: center;
  > * {
    display: flex;
    flex-wrap: nowrap;
  }
}

@keyframes scroll {
  to {
    transform: translateX(-100%) ;
  }
}
@keyframes scroll-rev {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
// ========================================


.svg-arrow {
  &._visible {
    path {
      animation: draw-line 2s ease .2s forwards;
    }
  }
  path {
    stroke-dasharray: var(--dasharray); 
    stroke-dashoffset: var(--dashoffset); 
  }
}

@keyframes draw-line {
  to {
    stroke-dashoffset: 0;
  }
}



.swiper {
	@media (min-width:toEm(820.98)){
		overflow: hidden;
	}
	@media (max-width: toEm(820.98)){
		overflow: visible;
	}
}
.swiper-initialized {
	touch-action: pan-y;
}
.swiper-wrapper {
	width: 100%;
	height: 100%;
	box-sizing: content-box;
	display: flex;
	position: relative;
}
.swiper-vertical {
	.swiper-wrapper {
		flex-direction: column;
	}
}
.swiper-autoheight {
	.swiper-wrapper {
		align-items: flex-start;
	}
}
.swiper-initialized {
	.swiper-slide {
		flex-shrink: 0;
		// transition-property: transform;
	}
}
.swiper-android {
	.swiper-slide,
	.swiper-wrapper {
		transform: translate3d(0px, 0, 0);
	}
}
.swiper-button-lock {
	display: none !important;
}

%swiperButton {
  position: absolute;
  top: 50%;
  @media (max-width: toEm(820.98)){
    display: none;
  }
  &.swiper-button-prev {
    @include adaptiveValue("left", -45, 40,0,1440.98,1220);
    transform: translate(-100%,-50%);
  }
  &.swiper-button-next {
    @include adaptiveValue("right", -45, 40,0,1440.98,1220);
    transform: translate(100%,-50%);
  }
}


.swiper-button {
  width: toRem(50);
  aspect-ratio: 1;
  border-radius: 50%;
  @extend %gridCenter;
  background-color: #fff;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.05);
  transition: box-shadow .3s ease, background-color .3s ease;
  @media (any-hover: hover){
    &:hover{
      // box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
         box-shadow: 0 4px 50px 0 rgba(33, 5, 41, 0.12), 0 4px 10px 0 rgba(33, 5, 41, 0.06);
      // background-color: $green-light;
    }
  }
  &::before {
    @extend %afterArrow;
    width: toRem(16);
  }
  &.swiper-button-prev {
    padding-right: toRem(2);
    &::before {
      transform: rotate(90deg);
    }
  }
  &.swiper-button-next {
    padding-left: toRem(2);
    &::before {
     
    }
  }
  &.swiper-button-disabled {
    opacity: 0.6;
    // pointer-events: none;
  }
}


