.hero {
  position: relative;
  z-index: 1;
  // @extend %avPB-130-100;
  // h1 {
  //    @include adaptiveValue("font-size", 56, 36,0,1440.98,480.98);
  // }
   @media (min-width:$mobileSmall){
     padding-top: toRem(113); 
  }
  @media (min-width: toEm(820.98)) and (max-height: toEm(1050.98)) {
    min-height: 100svh;
    display: flex;
    align-items: center;
  }
  @media (max-width:$mobileSmall){
     padding-top: toRem(90); 
     min-height: 100svh;
     display: flex;
     align-items: center;
  }
  // position: relative;
  // &::before {
  //   content:'';
  //   position: absolute;
  //   z-index: -1;
  //   inset: 0;
  //   background-repeat: no-repeat;
  //   background-position: center;
  //   @media (min-width:$mobileSmall){
  //     background-image: url('@img/bg/bg-hero.svg');
  //     background-size: toRem(1959) toRem(995);
  //   }
  //   @media (max-width:$mobileSmall){
  //     background-image: url('@img/bg/bg-hero-mb.svg');
  //     background-size: toRem(953) toRem(1106);
  //   }
  // }
	// .hero__bg
	&__bg {
    @extend %img;
    @extend %imgBg;
    @media (min-width:$mobileSmall){
      width: toRem(1959); 
    }
    @media (max-width:$mobileSmall){
      width: toRem(953); 
    }
	}
  // .hero__container
  &__container {
    position: relative;
    z-index: 1;
      text-align: center;
      @media (min-width:$mobileSmall){
        padding-top: toRem(105);
      }
      @media (max-width:$mobileSmall){
        padding-top: toRem(115);
      }
		}
		// .hero__title
		&__title {
      max-width: toRem(630);
      margin-inline: auto;
      &:not(:last-child) {
        @include adaptiveValue("margin-bottom", 28, 15,0,1440.98,480.98);
      }
		}
		// .hero__subtitle
		&__subtitle {
      max-width: toRem(413);
      margin-inline: auto;
      &:not(:last-child) {
        @include adaptiveValue("margin-bottom", 35, 30,0,1440.98,480.98);
      }
		}
		// .hero__btns
		&__btns {
      @extend %flexCenter;
      justify-content: center;
      flex-wrap: wrap;
      @extend %avGap-20-15;
		}
		// .hero__btn
		&__btn {
      @media (min-width:$mobileSmall){
        max-width: toRem(216);
      }
		}
}

%emojiBody {
  position: absolute;
  font-size: 50px;
  background-image: url('@img/icons/union.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
  aspect-ratio: 76/78;
  width: 100%;
  @extend %gridCenter;
}
.emoji {
  position: absolute;
  inset: 0;
  z-index: -1;
		// .emoji__item
		&__item {
      @extend %emojiBody;
      // position: absolute;
      // font-size: 50px;
      // background-image: url('@img/icons/union.svg');
	    // background-repeat: no-repeat;
	    // background-position: center;
	    // background-size: contain;
      // aspect-ratio: 76/78;
      // width: 100%;
      // @extend %gridCenter;
      @include adaptiveValue("max-width", 76, 64,0,1440.98,480.98);
      @include adaptiveValue("font-size", 43, 35,0,1440.98,480.98);
      @media (min-width:$mobileSmall){
        opacity: 0;
        .loaded & {
          opacity: 1;
          transition: opacity .65s ease;
        }
      }
      &--1 {
        top: 6%;
        left: 50%;
        transform: translate(-50%,0) scale(1);
        .loaded & {
          transition-delay: 0s;
        }
        .emoji__wr {
        }
      }
      &--2 {
        @media (min-width:$tablet){
          top: 25%;
          left: 10%;
          transform: scale(.86) rotate(-21deg);
          .loaded & {
            transition-delay: 0.05s;
          }
        }
        @media (max-width:$tablet){
          display: none;
        }
        .emoji__wr {
        }
      }
      &--3 {
        @media (min-width:$tablet){
          top: 22%;
          right: 10%;
          transform: scale(.64) rotate(-13deg);
        }
        @media (max-width:$tablet){
          top: 8%;
          right: 26%;
          transform: translate(50%,0) scale(.7) rotate(21deg);
        }
        .loaded & {
            transition-delay: 0.1s;
        }
        .emoji__wr {
          
        }
      }
      &--4 {
        @media (min-width:$tablet){
          top: 50%;
          left: 16%;
          transform: scale(.64) rotate(9deg);
        }
        @media (max-width:$tablet){
          top: 8%;
          left: 26%;
          transform: translate(-50%,0) scale(.7) rotate(-21deg);
        }
        .loaded & {
          transition-delay: 0.15s;
        }
        .emoji__wr {
          
        }
      }
      &--5 {
        @media (min-width:$tablet){
          top: 46%;
          right: 15%;
          transform: scale(.86) rotate(16deg);
          .loaded & {
            transition-delay: 0.2s;
          }
        }
        @media (max-width:$tablet){
          display: none;
        }
        .emoji__wr {
          
        }
      }
      &--6 {
        @media (min-width:$tablet){  
          top: 70%;
          right: 10%;
          transform: scale(.54) rotate(4deg);
          .loaded & {
            transition-delay: 0.25s;
          }
        }
        @media (max-width:$tablet){
          display: none;
        }
        .emoji__wr {
          
        }
      }
      &--7 {
        @media (min-width:$tablet){
          top: 74%;
          left: 10%;
          transform: scale(.54) rotate(-11deg);
          .loaded & {
            transition-delay: 0.3s;
          }
        }
        @media (max-width:$tablet){
          display: none;
        }
        .emoji__wr {

        }
      }
		}
		// .emoji__wr
		&__wr {
      padding-bottom: 7%;
      span {
        display: inline-block;
        transform: scale(0);
        .loaded & {
          transition: transform .45s ease .1s;
          transform: scale(1);
        }
      }
		}
}

%blurFigureBefore {
    content:'';
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

// SECTION PROGRESS ==============================================================
.progress {
    position: relative;
    z-index: 0;
    // @extend %avPB-130-100;
		// .progress__container
		&__container {
		}
		// .progress__title
		&__title {
      @extend %avMB-40-30;
		}
		// .progress__list
		&__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      @extend %avGap-20-15;
      @extend %mb30;
      position: relative;
       &::before {
        @extend %blurFigureBefore;
        background-color: $red;
        filter: blur(180px);
        @media (min-width:toEm(600.98)){
          border-radius: 50% / 50%;
        }
        @media (max-width: toEm(600.98)){
          width: 70%;
          border-radius: 45%/30%;
        }
      }
		}
		// .progress__item
		&__item {
      width: 100%;
      min-height: toRem(105);
      border-radius: toRem(30);
      padding: toRem(15);
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.8) 100%);
      @extend %flexCenter;
      gap: toRem(15);
      p {
        line-height: 1.35;
        @extend %fontWeight700;
        span {
          color: $blueDark;
        }
      }
      @media (min-width:$mobileSmall){
         max-width: toRem(282); 
      }
		}
		// .progress__num
		&__num {
      @extend %gridCenter;
      @extend %linear-gradient-blue;
      @extend %fontWeight800;
      border-radius: toRem(20);
      aspect-ratio: 1;
      min-width: toRem(75);
      font-size: toRem(36);
		}
		// .progress__link
		&__link {
      justify-content: center;
      gap: toRem(8);
      font-size: toRem(16);
      margin-inline: auto;
      max-width: max-content;
      @extend %flexCenter;
      @extend %fontWeight700;
      @extend %transitionColor;
        &::after {
          content:'';
          background-image: url("@img/logos/iab-logo.svg");
          background-repeat: no-repeat;
          background-size:contain;
          background-position: center;
          width: toRem(42.5);
          aspect-ratio: 42.5/30
        }
        @media (any-hover: hover){
          &:hover{
            color: $red;
          }
        }
		}
}

// SECTION PROGRESS ==============================================================
.clients {
  // @extend %avPT-80-60;
  // @extend %avPB-80-60;
  // @extend %avMB-130-100;
  
  background-color: $green-light;
		// .clients__container
		&__container {
		}
		// .clients__block
		&__block {
        @extend %flexCenter;
        margin-inline: auto;
        max-width: max-content;
        @media (min-width:$mobileSmall){
          gap: toRem(10);
        }
    }
    // .clients__title
    &__title {
       @extend %avMB-40-30;
    }
		// .clients__arrow
		&__arrow {
      @include adaptiveValue("width", 58, 31,0,1440.98,480.98);
      height: auto;
		}
		// .clients__body
		&__body {
      &:not(:last-child) {
        margin-bottom: toRem(20);
      }
		}
		// .clients__wrapper
		&__wrapper {
		}
		// .clients__logo
		&__logo {
      display: inline-block;
      padding-inline: toRem(16);
      padding-block: toRem(10);
      border-radius: toRem(30);
      background-color: rgba(255, 255, 255, 0.5);
      max-width: toRem(178);
      transition: background-color .3s ease, 
                  // border-color .3s ease
                  ;
      border: toRem(1) solid transparent;
      transform-origin: 50% 50%;
      cursor: pointer;
      img {
        @extend %ibg;
        object-fit: contain;
      }
      @media (any-hover: hover){
        &:hover{
          background-color: rgba(255, 255, 255, 1);
          // border-color: #25F4EE;
        }
      }
      @media (min-width:$mobileSmall){
        margin-inline: toRem(10);
      }
      @media (max-width:$mobileSmall){
        margin-inline: toRem(8);
      }
		}
}


// BLOCK INFO  ==============================================================
.block-info {
  // @extend %avPB-130-100 ;
		// .block-info__container
		&__container {
      display: grid;
      gap: toRem(30) toRem(70);
      @media (min-width:toEm(750.98)){
        grid-template-columns: 1fr 41%;
        grid-template-rows: auto 1fr;
      }
		}
		// .block-info__title
		&__title {
      @media (min-width:toEm(750.98)){
        text-align: left;
      }
		}
		// .block-info__media
		&__media {
      display: grid;
      grid-template-columns: 1fr 1fr;
      position: relative;
      @extend %avGap-20-15;
      @media (min-width:toEm(750.98)){
        height: max-content;
        grid-row: 1/3;
        grid-column: 2/3;
      }
      @media (max-width:$tablet) and (min-width: toEm(750.98)) {
        align-self: center;
      }
		}
		// .block-info__video
		&__video {
      width: 100%;
      // border-radius: toRem(30);
       @include adaptiveValue("border-radius", 30,22,0,1440.98,480.98);
      overflow: hidden;
      position: relative;
      video,img {
        @extend %ibg;
        border: toRem(2) solid transparent;
        // border-radius: toRem(30);
        @include adaptiveValue("border-radius", 30,22,0,1440.98,480.98);
        position: relative;
        z-index: 1;
      }
      &::before {
        content: '';
        position: absolute;
        inset: 0;
        background: linear-gradient(130deg, rgba(37, 244, 238, 1) 0%, rgba(138, 25, 204, 1) 50%, rgba(255, 0, 79, 1) 100%);
        z-index: 0;
      }
      &:nth-child(1) {
        aspect-ratio: 229/305;
      }
      &:nth-child(2) {
        position: relative;
        top: 40%;
        aspect-ratio: 229/305;
      }
      &:nth-child(3) {
        aspect-ratio: 229/212;
      }
      &:nth-child(4) {
        position: absolute;
        top: 55%;
        left: 42%;
        transform: translate(-50%,-50%);
        z-index: 2;
        max-width: 31%;
        aspect-ratio: 150/130;
      }
		}
		// .block-info__bg
		&__bg {
      @extend %img;
      @extend %imgBg;
      @media (min-width:$mobileSmall){
        width: toRem(778); 
      }
      @media (max-width:$mobileSmall){
        width: toRem(573); 
      }
		}
		// .block-info__body
		&__body {
      line-height: 1.2;
      p {
        @extend %mb30;
      }
		}
		// .block-info__btn
		&__btn {
      @extend %minWidthBtn-216;
		}
}



// SECTION CARDS LINK ==============================================================
.cards-link {
  //  @extend %avPB-130-100 ;
		// .cards-link__container
		&__container {
		}
		// .cards-link__title
		&__title {
      @extend %avMB-40-30;
		}
		// .cards-link__list
		&__list {
      position: relative;
      display: grid;
      @extend %avGap-30-15;
      &:before {
        content:'';
        position: absolute;
        z-index: -1;
        inset: 0;
        filter: blur(180px);
        background-color: $red;
        opacity: 0.1;
      }
      @media (min-width:toEm(750.98)){
        grid-template-columns: 1fr 1fr;
      }
		}
		// .cards-link__item
		&__item {
      position: relative;
      display: grid;
      gap: toRem(10);
      border-radius: toRem(40);
      padding: toRem(30);
      box-shadow: 0 5px 20px 0 rgba(195, 0, 60, 0.05);
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.8) 100%);
      transition: box-shadow .3s ease;
      line-height: 1.3;
      @media (any-hover: hover){
        &:hover{
          box-shadow: 0 0 10px 0 rgba(195, 0, 60, 0.05);
          .cards-link__footer {
            opacity: 1;
          }
        }
      }
      &:active {
         box-shadow: 0 0 10px 0 rgba(195, 0, 60, 0.05);
          .cards-link__footer {
            opacity: 1;
          }
      }
		}
    	// .cards-link__subtitle
		&__subtitle {
      color: $red;
		}
		// .cards-link__txt
		&__txt {
      flex: 1;
      .cards-link__item--link & {
        @extend %boxElement;
         -webkit-line-clamp: 2;
      }
		}
		// .cards-link__footer
		&__footer {
      @extend %flexCenter;
      justify-content: space-between;
      margin-top: toRem(10);
      opacity: .3;
     @extend %transitionOpacity;
      @extend %fontWeight700;
      min-height: toRem(25);
      &::after { 
        @extend %afterArrow;
      }
		}
		// .cards-link__link
		&__link {
      position: absolute;
      z-index: 2;
      inset: 0;
		}
}

// SECTION LIST-EMOJI  ==============================================================
.list-emoji {
  //  @extend %avPB-130-100 ;
		// .list-emoji__container
		&__container {
		}
		// .list-emoji__title
		&__title {
       @extend %avMB-40-30;
		}
		// .list-emoji__list
		&__list {
      display: grid;
      position: relative;
      @include adaptiveValue("column-gap", 20, 15,0,1440.98,480.98);
      @include adaptiveValue("row-gap", 37, 15,0,1440.98,480.98);
      @media (min-width:toEm(600.98)){
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 1fr;
        max-width: toRem(766);
        margin-inline: auto;
        // Если добавился класс _items-even ==
        &._items-even {
          padding-bottom: toRem(100);
        }
      }
      &::before {
         @extend %blurFigureBefore;
        background-color: #25f4ee;
        @media (min-width:toEm(600.98)){
          border-radius: 50% / 43%;
          filter: blur(200px);
        }
        @media (max-width: toEm(600.98)){
          filter: blur(150px);            
        }
      }
    }
		// .list-emoji__item
		&__item {
      position: relative;
      display: grid;
      gap: toRem(10);
      border-radius: toRem(40);
      padding: toRem(30);
      background: linear-gradient(180deg, #eafffe 0%, #fff 100%);
     
      opacity: 0;
      transition: opacity .65s ease, transform .55s ease;
      transform: translateY(50%);
      ._visible & {
        opacity: 1;
        transform: translateY(0%);
      }
      &:nth-child(1) {
        transition-delay: .0s;
      }
      &:nth-child(2) {
        transition-delay: .1s;
      }
      &:nth-child(3) {
        transition-delay: .2s;
      }
      &:nth-child(4) {
        transition-delay: .3s;
      }
      &:nth-child(5) {
        transition-delay: .4s;
      }
      &:nth-child(6) {
        transition-delay: .5s;
      }
      &:nth-child(7) {
        transition-delay: .6s;
      }
      &:nth-child(8) {
        transition-delay: .7s;
      }
      &:nth-child(9) {
        transition-delay: .8s;
      }
      &:nth-child(10) {
        transition-delay: .9s;
      }
      &:nth-child(11) {
        transition-delay: 1s;
      }
      &:nth-child(12) {
        transition-delay: 1.1s;
      }
      // height: max-content;
      &:nth-child(odd) {
        @media (max-width: toEm(600.98)){
            
        }
      }
      &:nth-child(even) {
        @media (min-width:toEm(600.98)){
          top: 50%;
        }
      }
      // каждый 1й,7й...
      &:nth-child(6n + 1) {
        .list-emoji__emoji {
          &.emoji-1 {
             @media (min-width:toEm(600.98)){
               top: 0%;
               right: -30%;
               transform: scale(1) rotate(5deg);
            }
            @media (max-width: toEm(600.98)){
              top: -17%;
              right: 0%;
              transform: scale(.87) rotate(5deg);
            }
          }
          &.emoji-2 {
            display: none;
          }
        }
      }
      // каждый 2й,8й...
      &:nth-child(6n + 2),
      &:nth-child(6) {
        z-index: 2;
        .list-emoji__emoji {
           &.emoji-1 {
             @media (min-width:toEm(600.98)){
               top: -12%;
               right: -9%;
               transform: scale(.65) rotate(13deg);
             }
             @media (max-width: toEm(600.98)){
              top: -24%;
               left: -4%;
               transform: scale(.65) rotate(-13deg);
             }
           }
            &.emoji-2 {
               @media (min-width:toEm(600.98)){
                 top: 95%;
                 right: 93%;
                 transform: scale(.65) rotate(5deg);
               }
            }
        }
      }
      // каждый 3й,9й...
      &:nth-child(6n + 3) {
        .list-emoji__emoji {
          &.emoji-1 {
             @media (min-width:toEm(600.98)){
               top: -23%;
               left: -13%;
               transform: scale(.88) rotate(-21deg);
             }
             @media (max-width:toEm(600.98)){
               top: -20%;
               right: 0%;
               transform: scale(.83) rotate(21deg);
             }
          }
          &.emoji-2 {
             display: none;
          }
        }
      }
      // каждый 4й,10й...
      &:nth-child(6n + 4) {
        .list-emoji__emoji {
          &.emoji-1 {
             @media (min-width:toEm(600.98)){
               top: -12%;
               right: -6%;
               transform: scale(.55) rotate(6deg);
             }
             @media (max-width:toEm(600.98)){
               top: -21%;
              left: -4%;
               transform: scale(.76) rotate(-5deg);
             }
          }
          &.emoji-2 {
             @media (min-width:toEm(600.98)){
               top: 100%;
               right: 88%;
               transform: scale(.65) rotate(12deg);
             }
          }
        }
      }
      // каждый 5й,11й...
      &:nth-child(6n + 5) {
        .list-emoji__emoji {
          &.emoji-1 {
            @media (min-width:toEm(600.98)){
              top: -11%;
              left: -14%;
              transform: scale(.55) rotate(-11deg);
            }
            @media (max-width:toEm(600.98)){
              top: -21%;
              right: 0%;
              transform: scale(.87) rotate(12deg);
            }
          }
          &.emoji-2 {
             display: none;
          }
        }
      }
      // каждый 5й,11й...
      &:nth-child(7) {
        .list-emoji__emoji {
          @media (min-width:toEm(600.98)){
            display: none;
          }
        }
      }
      &:last-child {
        &._even-last {
          .list-emoji__emoji {
            &.emoji-1 {
            }
            &.emoji-2 {
              display: none;
            }
          }
        }
      }

      .list-emoji__emoji {
        &.emoji-1 {
        }
        &.emoji-2 {
          @media (max-width: toEm(600.98)){
              display: none;
          }
        }
      }
    }
    // .list-emoji__subtitle
    &__subtitle {
      color: $red;
      line-height: 1.1;
    }
		// .list-emoji__txt
		&__txt {
      line-height: 1.3;
    }
		// .list-emoji__emoji
		&__emoji {
      @extend %emojiBody;
      z-index: 3;
      background-image: url('@img/icons/union-2.svg');
      // transform: translate3d(0,0,0);
      @include adaptiveValue("max-width", 76, 64,0,1440.98,480.98);
      @include adaptiveValue("font-size", 43, 35,0,1440.98,480.98);
      // .list-emoji__emoji--sec
      &--sec {
  
      }
		}
		// .list-emoji__emoji-wr
		&__emoji-wr {
       padding-bottom: 7%;
      span {
        display: inline-block;
      }
		}
}

// SECTION CASES-HOME ==============================================================
.cases-home {
  background-color: $green-light;
		// .cases-home__container
		&__container {
		}
		// .cases-home__title
		&__title {
      &:not(:last-child) {
        @extend %avMB-40-30;
      }
      @media (min-width:$mobileSmall){
         text-align: left; 
      }
		}
		// .cases-home__body
		&__body {
      display: grid;
      @extend %avGap-30-15;
      &:not(:last-child) {
        @extend %avMB-40-30;
      }
      @media (min-width:toEm(650.98)){
        grid-template-columns: 1fr 1fr;
      }
		}
		// .cases-home__article
		&__article {
		}
		// .cases-home__btn
		&__btn {
      @media (min-width:$mobileSmall){
        margin-inline: auto;
        min-width: toRem(230);
        max-width: max-content;
      }
		}
}

.article-cases {
  position: relative;
  overflow: hidden;
  @extend %avBorRad-40-30;
  cursor: pointer;

  &._open {
    .article-cases__wrapper {
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
    }
    .article-cases__content {
      opacity: 1;
    }
  }
	// .article-cases__body
	&__body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
	}
	// .article-cases__wrapper
	&__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    @extend %avBorRad-40-30;
    @include adaptiveValue("padding-block", 24, 14,0,1440.98,480.98);
    @include adaptiveValue("padding-inline", 30, 20,0,1440.98,480.98);
    backdrop-filter: blur(20px);
    background-color: rgba(0, 0, 0, 0.3);
    
    height: 27%;
    transition: height .4s ease, background-color .3s ease;
    @media (max-width: toEm(820.98)) and (min-width: toEm(650.98)) {
      height: 35%;
    }
    @media (max-width:$mobileSmall){
       height: 33%; 
    }
	}
	// .article-cases__header
	&__header {
    padding-bottom: toRem(20);
  }
	// .article-cases__title
	&__title {
    color: $green;
    line-height: 1.1;
    margin-bottom: toRem(5);
	}
	// .article-cases__subtitle
	&__subtitle {
    color: #fff;
     @extend %fontWeight700;
     @extend %boxElement;
     -webkit-line-clamp: 1;
  }
	// .article-cases__content
	&__content {
    display: flex;
    flex-direction: column;
    height: 80%;
    overflow: hidden;
    opacity: 0;
     @extend %transitionOpacity;
	}
  // .article-cases__info
  &__info {
      flex: 1;
      line-height: 1.4;
      overflow-y: auto;
      color: #fff;
      @include adaptiveValue("font-size", 18, 16,0,1440.98,480.98);
      
      mask-image: linear-gradient(to bottom, black 85%, transparent 100%);
      -webkit-mask-image: linear-gradient(to bottom, black 85%, transparent 100%);
      
      @media (min-width:$tablet){
        padding-bottom: toRem(25);
        &::-webkit-scrollbar {
          display: none;
        } 
      }
      @media (max-width:$tablet){
        padding-bottom: toRem(15);
      }
      p {
        &:not(:last-child) {
          margin-bottom: toRem(10);
        }
      }
	}
	// .article-cases__link
	&__link {
    @extend %flexCenter;
    justify-content: space-between;
    padding-top: toRem(10);
    min-height: toRem(25);
    color: #fff;
    @extend %transitionOpacity;

     &::after { 
        @extend %afterArrow;
         background-image: url("../img/icons/arrow-white.svg");
      }

    opacity: .3;
    @media (any-hover: hover){
      &:hover{
        opacity: 1;
      }
    }
    .touch & {
      opacity: 1;
    }
	}
	// .article-cases__media
	&__media {
    background-color: $green;
    aspect-ratio: 565/426;
    video,img {
      @extend %ibg;
      aspect-ratio: 565/426;
    }
	}
}

// SECTION SLIDER-BLOCK  ==============================================================
.slider-block {
		// .slider-block__container
		&__container {
		}
		// .slider-block__title
		&__title {
      @extend %avMB-40-30;
		}
		// .slider-block__body
		&__body {
      position: relative;
      &:not(:last-child) {
        @extend %avMB-40-30;
      }
		}
		// .slider-block__slider
		&__slider {
		}
		// .slider-block__wrapper
		&__wrapper {
		}
		// .slider-block__slide
		&__slide {
      @media (min-width:$mobileSmall){
        padding-inline: toRem(10);
        padding-block: toRem(20);
      }
      @media (max-width:$mobileSmall){
         padding-inline: toRem(5); 
      }
		}
		// .slider-block__button
		&__button {
      @extend %swiperButton;
		}
		// .slider-block__btn
		&__btn {
      @extend %minWidthBtn-216;
      margin-inline: auto;
      box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.05);
		}
}

.card-item {
  position: relative;
  border-radius: toRem(30);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.05);
  transition: box-shadow .3s ease;
  @media (any-hover: hover){
    &:hover{
      box-shadow: 0 10px 10px 0 rgba(33, 5, 41, 0.16);
      .card-item__footer {
        opacity: 1;
      }
      .card-item__img {
        img {
          transform: scale(1.05);
        }
      }
    }
  }
	// .card-item__img
	&__img {
    overflow: hidden;
    aspect-ratio: 373/250;
    img {
      @extend %ibg;
      aspect-ratio: 373/250;
      transform-origin: 50% 50%;
      transition: transform .65s ease;
    }
	}
	// .card-item__body
	&__body {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-inline: toRem(30);
    padding-block: toRem(24);
    gap: toRem(20);
	}
	// .card-item__title
	&__title {
    font-size: toRem(22);
    @extend %fontWeight800;
	}
	// .card-item__subtitle
	&__subtitle {
    flex: 1;
    p {
      line-height: 1.3;
      @extend %boxElement;
      -webkit-line-clamp: 4;
    }
	}
	// .card-item__footer
	&__footer {
    // flex: 1;
    @extend %flexCenter;
    justify-content: space-between;
    @extend %fontWeight700;
    color: $red;
    min-height: toRem(25);
    opacity: 0;
    @extend %transitionOpacity;
    .touch & {
      opacity: 1;
    }
    &::after { 
      @extend %afterArrow;
       background-image: url("../img/icons/arrow-red.svg");
       transform: rotate(0deg);
       width: toRem(20);
    }
	}
	// .card-item__link
	&__link {
    position: absolute;
    inset: 0;
    z-index: 2;
	}
}



// SECTION  ==============================================================
// SECTION  ==============================================================
// SECTION  ==============================================================